#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [0, 50, 50],
    background_color: None,
    text_color: "#DDE1FF",
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "#D1FF5D"),
    preview_metadata_group_style: (fg: "#FF5DD1", modifiers: "Bold"),
    tab_bar: (
        enabled: true,
        active_style: (fg: "#6B5DFF", modifiers: "Bold"),
        inactive_style: (),
    ),
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],
        bar_width: 1,
        bar_spacing: 1,
        orientation: Bottom,
        bar_color: Gradient({
            0: "#6B5DFF",
            20: "#5D92FF",
            40: "#00FFAA",
            60: "#F1FF5D",
            80: "#F98771",
            100: "#FF006A",
        })
     ),
    highlighted_item_style: (fg: "#6B5DFF", modifiers: "Bold"),
    current_item_style: (fg: "#000000", bg: "#DDE1FF"),
    borders_style: (fg: "#312A50"),
    highlight_border_style: (fg: "#312A50"),
    symbols: (
        song: "󰎇",
        dir: " ",
        playlist: "󰲸 ",
        marker: "",
        ellipsis: "...",
        song_style: (fg: "#FF6B5D"),
        dir_style: (fg: "#6B5DFF"),
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "#6B5DFF"),
        warn: (fg: "#F1FF5D"),
        error: (fg: "#FF006A"),
        debug: (fg: "#00FFAA"),
        trace: (fg: "#6B5DFF"),
    ),
    progress_bar: (
        symbols: ["╺", "━", "━", "─", "╴"],
        track_style: (fg: "#1F0517"),
        elapsed_style: (fg: "#FF5DD1"),
        thumb_style: (fg: "#FF5DD1"),
    ),
    scrollbar: (
        symbols: ["│", "┃", "┬", "┴"],
        track_style: (fg: "#312A50"),
        ends_style: (fg: "#312A50"),
        thumb_style: (fg: "#DDE1FF"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Duration), style: (fg: "#FF006A"),
                default: (kind: Text(""))
            ),
            width: "20%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "#F98771"),
                default: (kind: Text(""))
            ),
            width: "20%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#F1FF5D"),
                default: (kind: Text(""))
            ),
            width: "20%",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#00FFAA"),
                default: (kind: Text(""))
            ),
            width: "20%",
            alignment: Right,
        ),
        (
            prop: (kind: Property(Other("date")), style: (fg: "#5D92FF"),
                default: (kind: Text(""))
            ),
            width: "20%",
            alignment: Right,
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (pane: Pane(Header), borders: "ALL", size: "4"),
            (pane: Pane(ProgressBar), size: "1"),
            (pane: Pane(TabContent), size: "100%"),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#FF006A")),
                    (kind: Text(" / "), style: (fg: "#FF006A")),
                    (kind: Property(Status(Duration)), style: (fg: "#FF006A")),
                    (kind: Text(" ("), style: (fg: "#FF006A")),
                    (kind: Property(Status(Bitrate)), style: (fg: "#FF006A")),
                    (kind: Text(" kbps)"), style: (fg: "#FF006A"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#F98771", modifiers: "Bold"),
                        default: (kind: Text(""))
                    ),
                    (kind: Text(" ")),
                    (kind: Property(Song(Title)), style: (fg: "#F1FF5D", modifiers: "Bold"),
                        default: (kind: Text(""))
                    ),
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "#6B5DFF")),
                    (kind: Text(" ")),
                    (kind: Property(Widget(Volume)), style: (fg: "#DDE1FF")),
                    (kind: Text(" "), style: (fg: "#312A50", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "  ", paused_label: "  ", stopped_label: "  "))), style: (fg: "#417BFF", modifiers: "Bold")),
                    (kind: Text(""), style: (fg: "#312A50", modifiers: "Bold")),
                ]
            ),
            (
                left: [
                ],
                center: [
                    (kind: Property(Song(Album)), style: (fg: "#00FFAA", modifiers: "Bold"),
                        default: (kind: Text(""))
                    ),
                    (kind: Text(" ")),
                    (kind: Property(Song(Other("date"))), style: (fg: "#5D92FF", modifiers: "Bold"),
                        default: (kind: Text(""))
                    ),
                ],
                right: [
                    (kind: Text(" "), style: (fg: "#312A50", modifiers: "Bold")),
                    (kind: Property(Status(QueueLength())),style: (fg: "#DDE1FF")),
                    (kind: Text(" 󰴍"),style: (fg: "#FF5DD1")),
                    (kind: Text(" | "),style: (fg: "#312A50")),
                    (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#DDE1FF")),
                    (kind: Text(" 󱎫"),style: (fg: "#FF5DD1")),
                    (kind: Text(" | "),style: (fg: "#312A50")),
                    (kind: Property(Status(RepeatV2(
                        on_label: "",
                        off_label: "",
                        on_style: (fg: "#FF5DD1", modifiers: "Bold"),
                        off_style: (fg: "#1F0517", modifiers: "Bold"))))
                    ),
                    (kind: Text(" | "),style: (fg: "#312A50")),
                    (kind: Property(Status(RandomV2(
                        on_label: "",
                        off_label: "",
                        on_style: (fg: "#FF5DD1", modifiers: "Bold"),
                        off_style: (fg: "#1F0517", modifiers: "Bold"))))
                    ),
                    (kind: Text(" | "),style: (fg: "#312A50")),
                    (kind: Property(Status(ConsumeV2(
                        on_label: "󰮯",
                        off_label: "󰮯",
                        oneshot_label: "󰮯󰇊",
                        on_style: (fg: "#FF5DD1", modifiers: "Bold"),
                        oneshot_style: (fg: "#FF5DD1", modifiers: "Bold"),
                        off_style: (fg: "#1F0517", modifiers: "Bold"))))
                    ),
                    (kind: Text(" | "),style: (fg: "#312A50")),
                    (kind: Property(Status(SingleV2(
                        on_label: "󰎤",
                        off_label: "󰎦",
                        oneshot_label: "󰇊",
                        off_oneshot_label: "󱅊",
                        on_style: (fg: "#FF5DD1", modifiers: "Bold"),
                        oneshot_style: (fg: "#FF5DD1", modifiers: "Bold"),
                        off_oneshot_style: (fg: "#1F0517", modifiers: "Bold"),
                        off_style: (fg: "#1F0517", modifiers: "Bold"))))
                    ),
                    (kind: Text(" "), style: (fg: "#312A50", modifiers: "Bold")),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
